/*-----------------------Important-----------------------*/
:root {
    --white: rgb(230, 225, 225);
    --lightgreen: #58b852;
    --normgreen: #1f7718;
    --darkgreen: #368601;
    --verydarkgreen: #205000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
  

::-webkit-scrollbar-track {
    background: var(--darkgreen);
}
  

::-webkit-scrollbar-thumb {
    background: var(--lightgreen);
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: var(--normgreen);
}


/*-----------------------Sections-----------------------*/
.header {
    min-height: 125vh;
    background-image: url('../bäume/headerback.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main {
    display: grid;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    background: linear-gradient(var(--normgreen), var(--darkgreen));
}

.trees {
    display: grid;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    place-content: center;
    justify-content: center;
    background: linear-gradient(var(--darkgreen), var(--verydarkgreen), #163600, #000 110%);
}

.footer {
    display: grid;
    min-height: 50vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    place-content: center;
    justify-content: center;
    background:#000;
}

/*-----------------------Header-----------------------*/



/*Donate now reminder*/

.donatenow {
    position: fixed;
    bottom: 35px;
    right: 80px;
    margin-left: 20px;
    width: 300px;
    z-index: 9999;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 10px 208px #fff;
  }
  
  .donatenow-header {
    padding: 25px 15px;
    background: var(--darkgreen);
    font-size: 30px;
    color: white;
  }
  
  .donatenow-container {
    padding: 15px;
    background-color: var(--lightgreen);
    color: #fff;
  }

  .donatenow-container a {
    text-shadow: none;
    text-decoration: underline;
  }
  
  .donatenowbtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: var(--lightgreen);
    font-size: 30px;
    cursor: pointer;
  }
  
  .donatenowbtn:hover {
    color: lightgrey;
  }



/*Navbar*/
.nav {
    height: 140px;
}

.nav img {
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    float: left;
    cursor: pointer;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    user-select: var(--darkgreen);
    z-index: 999999999;
    text-shadow: 2px 2px 5px #000;
    transition: .5s;
}

a:hover {
    transform: translateY(-7px);
}


.nav-ul {
    display: flex;
    color: #fff;
    position: absolute;
    top: 60px;
    background-color: #458A40;
    left: 1300px;
    margin-left: 25px;
    margin-right: 50px;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
}

.nav-ul a {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.nav-li {
    padding: 5px 6px 3px 25px;
    user-select: var(--darkgreen);
}

.don {
    color: rgb(72, 255, 0);
    margin-left: 20px;
    border-left: 4px solid rgb(51, 255, 0);
}

.don:hover {
    color: rgb(72, 255, 0);
    margin-left: 20px;
    border-left: 4px solid #458A40;
}

/*Überschrift*/

.header-h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    display: inline-block;
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
    user-select: none;
    color: #fff;
    font-weight: 800;
    z-index: 2;
    overflow: hidden;
    transition: .5s;
}

.header-h1::before {
    position: absolute;
    content: attr(data-content);
    transition: .5s;
    top: 0;
    left: 0;
    width: 0;
    color: #458A40;
    white-space: nowrap;
    z-index: 3;
    overflow: hidden;
    transition: width 275ms ease;
}

.header-h1:hover {
    transform: translateY(-20px);
    color: #458A40;
}

.header-h1:hover::before {
    width: 100%;
}


/*Karte im Header*/

.head-card {
    position: absolute;
    background: url(../bäume/trees.png);
    color: #fff;
    text-shadow: 2px 2px 5px black;
    font-weight: 700;
    z-index: 2;
    margin-top: 300px;
    padding: 25px;
    padding-top: 70px;
    line-height: 1.8;
    margin-left: 200px;
    filter: blur(3px);
    width: 500px;
    height: 300px;
    justify-content: center;
    margin-right: 20px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.head-card-text {
    padding-top: 50px;
    position: absolute;
    text-shadow: 2px 2px 5px black;
    color: #fff;
    padding: 25px;
    width: 500px;
    z-index: 2;
    left: 198px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 340px;
    font-weight: 700;
}

.head-card-text h3 {
    font-weight: 900;
    z-index: 2;
    font-size: 25px;
    text-decoration: dotted;
    overflow: hidden;
}


.footer #tree {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.footer #world {
    font-size: 30px;
    margin-right: 600px;
    margin-top: -180px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.social img {
    position: absolute;
    top: 3340px;
    right: 880px;
    height: 150px;
    width: 150px;
}

.cprg p {
    font-size: 20px;
}

.soc-1 {
    position: absolute;
    top: 3350px;
    right: 1150px;
    margin: 0;
    flex-direction: column;
}

.soc-2 {
    position: absolute;
    top: 3350px;
    right: 750px;
    margin: 0;
    flex-direction: column;
}




/*Scroll*/

.scroll-down {
    height: 80px;
    width: 80px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 99999;
    top: 69%;
    left: 22%;
    transform: translate(-50%,-50%);
    animation: scroll infinite 2s linear;
}


.scroll-down img {
    height: 50px;
    width: 40px;
    display: grid;
    place-content: center;
    color: #fff;
    filter: invert(100%);
    margin: auto;
}


/*extra*/
.gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: visible;
    transform: translate(-50%, -50%);
    z-index: 1;
    min-height: 125vh;
    width: 100%;
    background: linear-gradient( transparent, transparent,  var(--normgreen));
}


.active {
    padding-top: 5px;
    text-decoration: underline;
    color: #58b852;
}

mark {
    background-color: #000;
    color: #fff;
    padding: 3px;
    height: 2px;
    margin-top: 50px;
    border-radius: 3px;
}

.left-img{
    float: right;
    z-index: 2;
    margin-right: 40px;
    height: 600px;
    width: 600px;
    margin-top: 130px;  
}







/*-----------------------MEDIA QUERIES-----------------------*/

@media only screen and (max-width: 600px) {

    /*-----------------------Header-----------------------*/


    .header {
        min-height: 100vh;
    }
    
    .donatenow {
        display: none;
    }


    /*Nav*/
    .nav {
        width: 200px;
    }

    .nav-ul {
        display: flex;
        color: rgb(214, 12, 12);
        top: 40px;
        left: 80px;
        width: 350px;
    }
    
    .nav-ul a {
        font-weight: 500;
        padding-left: 7px;
        font-weight: 520;
        padding-right: 15px;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .nav img {
        margin-top: 38px;
        margin-left: 10px;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        float: left;
        cursor: pointer;
    }


    /*Überschrift*/
    .header-h1 {
        font-size: 50px;
        top: 100px;
        text-align: center;
        left: 50px;
        font-family: 'Bungee Shade', cursive;
    }


    /*Karte*/
    .head-card {
        position: absolute;
        filter: blur(3px);
        margin-top: 370px;
        width: 440px;
        padding-top: 50px;
        margin-left: 25px;
        margin-right: 200px;
        border-radius: 20px;
        left: 0;
    }

    .head-card-text {
        padding-top: 50px;
        overflow: hidden;
        position: absolute;
        text-shadow: 2px 2px 5px black;
        color: #fff;
        padding: 25px;
        line-height: 1.6;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 390px;
        margin-left:15px;
        left: 0;
        width: 450px;
        font-weight: 700;
    }

    .head-card-text h3 {
        font-weight: 900;
        font-size: 25px;
        text-decoration: dotted;
        overflow: hidden;
        border-radius: 5px;
    }
    

    /*Scroll*/

.scroll-down {
    height: 80px;
    width: 80px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    top: 90%;
    left: 40%;
    transform: translate(-50%,-50%);
    animation: scroll infinite 2s linear;
}

.scroll-down img {
    height: 50px;
    width: 40px;
    display: grid;
    place-content: center;
    color: #fff;
    filter: invert(100%);
    margin: auto;
}

    /*Extra*/
    .left-img{
        position: absolute;
        top: 100px;
        left: 150px;
        height: 200px;
        width: 200px;
        border: 5px solid rgb(0, 212, 46);
        border-radius: 50%;
    }

    .gradient {
        min-height: 100vh;
    }
  }



/*-----------------------ANIMATIONS-----------------------*/


@keyframes scroll {
    0%   {transform: translateY(-5px);}
    50% {transform: translateY(5px);}
    100%   {transform: translateY(-5px);}
}