:root {
    --white: rgb(230, 225, 225);
    --lightgreen: #58b852;
    --normgreen: #1f7718;
    --darkgreen: #368601;
    --verydarkgreen: #205000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}
  

::-webkit-scrollbar-track {
    background: var(--darkgreen);
}
  

::-webkit-scrollbar-thumb {
    background: var(--lightgreen);
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: var(--normgreen);
}


/*----------------------------------------------------------------------------*/
.InfoCard {
    background-color: rgb(37, 180, 25);
    color: rgb(224, 224, 224);
    border-radius: 40px;
    border: 2px solid darkgreen;
    font-size: 60px;
    position: absolute;
    top: 77%;
    left: 50%;
    padding-left: 10px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
    box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
    font-family: 'Londrina Solid', cursive;
    text-shadow: 3px 4px 2px rgba(78, 78, 78, 0.533);
    text-align: center;
}

.InfoCard2 {
    background-color: rgb(37, 180, 25);
    color: rgb(224, 224, 224);
    border-radius: 40px;
    border: 2px solid darkgreen;
    font-size: 60px;
    position: absolute;
    top: 170%;
    left: 50%;
    padding-left: 10px;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
    box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
    font-family: 'Londrina Solid', cursive;
    text-shadow: 3px 4px 2px rgba(78, 78, 78, 0.533);
    text-align: center;
}

.header {
    color: white;
    font-family: 'Rubik Distressed', cursive;
    font-size: 70px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20%;
    border-radius: 15px;
    left: 40%;
    top: 6%;
    text-align: center;
    background-color: rgb(37, 180, 25);;
    box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
    position: absolute;
}

body {
    min-height: 100vh;
    overflow-y: hidden;
    background-image: url('../bäume/stadtwald-cologne_edit0.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav {
    height: 140px;
    z-index: 99999;
    overflow-x: hidden;
}


.goal {
    position: absolute;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    top: 30%;
    left: 40%;
    color: white;
    text-shadow: black 7px 4px 15px;
    text-align: center;
}
.how {
    position: absolute;
    font-size: 40px;
    top: 115%;
    left: 36%;
    color: white;
    text-shadow: black 7px 4px 15px;
    text-align: center;font-family: 'Bungee Shade', cursive;
}

.nav img {
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    z-index: 9999;
    width: 70px;
    float: left;
    cursor: pointer;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
}


.nav-ul {
    display: flex;
    color: #fff;
    position: absolute;
    top: 60px;
    background-color: #458A40;
    left: 1370px;
    margin-left: 25px;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
}

.nav-ul,
li {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.nav-li {
    padding-left: 25px;
}

@media only screen and (max-width: 600px) {

    body {
        height: 1500px;
        background-image: url("../bäume/stadtwald-cologne_edit0.png");
        background-size: cover;
        background-position: center;
    }

    .nav-ul {
        display: flex;
        color: #fff;
        position: absolute;
        top: 25px;
        background-color: #458A40;
        left: 100px;
        margin-left: 25px;
        font-size: 35px;
        z-index: 999;
        padding: 20px;
        border-radius: 10px;
        text-shadow: 2px 2px 5px black;
        text-decoration: none;
    }

    .nav-img {
        z-index: 999;
        position: absolute;
        left: -20px;
        top: -28px;
    }
    .header {
        color: white;
        font-size: 70px;
        height: 100px;
        margin-bottom: 0px;
        border-radius: 15px;
        left: 70px;
        top: 13%;
        text-align: center;
        background-color: --sad;
        position: absolute;
    }
    .InfoCard {
        background-color: rgb(37, 180, 25);
        color: rgb(224, 224, 224);
        border-radius: 40px;
        border: 2px solid darkgreen;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        padding-left: 10px;
        padding-top: 25px;
        padding-right: 10px;
        padding-bottom: 30px;
        transform: translate(-50%, -50%);
        box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
        font-family: 'Londrina Solid', cursive;
        text-shadow: 3px 4px 2px rgba(78, 78, 78, 0.533);
        text-align: center;
    }

    .goal {
        position: absolute;
        font-size: 40px;
        top: 20%;
        left: 15%;
        color: white;
        text-align: center;
    }

    .how {
        position: absolute;
        font-size: 34px;
        top: 70%;
        left: 7%;
        color: white;
        text-align: center;
    }

    .InfoCard2 {
        background-color: rgb(37, 180, 25);
        color: rgb(224, 224, 224);
        border-radius: 40px;
        border: 2px solid darkgreen;
        font-size: 25px;
        position: absolute;
        top: 100%;
        left: 50%;
        padding-left: 10px;
        padding-top: 25px;
        padding-right: 10px;
        padding-bottom: 30px;
        transform: translate(-50%, -50%);
        box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
        font-family: 'Londrina Solid', cursive;
        text-shadow: 3px 4px 2px rgba(78, 78, 78, 0.533);
        text-align: center;
    }

    body {
        min-height: 100vh;
        background-image: url('../bäume/stadtwald-cologne_edit0.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

}