/*-----------------------Important-----------------------*/
:root {
    --white: rgb(230, 225, 225);
    --lightgreen: #58b852;
    --normgreen: #1f7718;
    --darkgreen: #368601;
    --verydarkgreen: #205000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
  

::-webkit-scrollbar-track {
    background: var(--darkgreen);
}
  

::-webkit-scrollbar-thumb {
    background: var(--lightgreen);
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: var(--normgreen);
}


/*-----------------------Sections-----------------------*/
body {
    background-color: #000;
}

.header {
    min-height: 125vh;
    background-image: url('../bäume/headerback.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.game {
    display: grid;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    background: linear-gradient(var(--normgreen), var(--darkgreen));
}

.trees {
    display: grid;
    min-height: 40vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    place-content: center;
    justify-content: center;
    background: linear-gradient(var(--darkgreen), #163600, #000);
}

.footer {
    display: grid;
    min-height: 50vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    place-content: center;
    justify-content: center;
    background:#000;
}

/*-----------------------Header-----------------------*/



/*Donate now reminder*/

.donatenow {
    position: fixed;
    bottom: 35px;
    right: 80px;
    margin-left: 20px;
    width: 300px;
    z-index: 9999;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 10px 208px #fff;
  }
  
  .donatenow-header {
    padding: 25px 15px;
    background: var(--darkgreen);
    font-size: 30px;
    color: white;
  }
  
  .donatenow-container {
    padding: 15px;
    background-color: var(--lightgreen);
    color: #fff;
  }

  .donatenow-container a {
    text-shadow: none;
    text-decoration: underline;
  }
  
  .donatenowbtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: var(--lightgreen);
    font-size: 20px;
    cursor: pointer;
  }
  
  .donatenowbtn:hover {
    color: lightgrey;
  }



/*Navbar*/
.nav {
    height: 140px;
}

.nav img {
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 50%;
    padding: 5px;
    height: 70px;
    width: 70px;
    float: left;
    cursor: pointer;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    user-select: var(--darkgreen);
    z-index: 999999999;
    text-shadow: 2px 2px 5px #000;
    transition: .5s;
}

a:hover {
    transform: translateY(-7px);
}


.nav-ul {
    display: flex;
    color: #fff;
    position: absolute;
    top: 60px;
    background-color: #458A40;
    left: 1300px;
    margin-left: 25px;
    margin-right: 50px;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
}

.nav-ul a {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.nav-li {
    padding: 5px 6px 3px 25px;
    user-select: var(--darkgreen);
}

.don {
    color: rgb(72, 255, 0);
    margin-left: 20px;
    border-left: 4px solid rgb(51, 255, 0);
}

.don:hover {
    color: rgb(72, 255, 0);
    margin-left: 20px;
    border-left: 4px solid #458A40;
}

/*Überschrift*/

.header-h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    cursor: pointer;
    display: inline-block;
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
    user-select: none;
    color: #fff;
    font-weight: 800;
    z-index: 2;
    overflow: hidden;
    transition: .5s;
}

.header-h1::before {
    position: absolute;
    content: attr(data-content);
    transition: .5s;
    top: 0;
    left: 0;
    width: 0;
    color: #458A40;
    white-space: nowrap;
    z-index: 3;
    overflow: hidden;
    transition: width 275ms ease;
}

.header-h1:hover {
    transform: translateY(-20px);
    color: #458A40;
}

.header-h1:hover::before {
    width: 100%;
}


/*Karte im Header*/

.head-card {
    position: absolute;
    background: url(../bäume/trees.png);
    color: #fff;
    text-shadow: 2px 2px 5px black;
    font-weight: 700;
    z-index: 2;
    margin-top: 300px;
    padding: 25px;
    padding-top: 70px;
    line-height: 1.8;
    margin-left: 200px;
    filter: blur(3px);
    width: 500px;
    height: 300px;
    justify-content: center;
    margin-right: 20px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.head-card-text {
    padding-top: 50px;
    position: absolute;
    text-shadow: 2px 2px 5px black;
    color: #fff;
    padding: 25px;
    width: 500px;
    z-index: 2;
    left: 198px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 340px;
    font-weight: 700;
}

.head-card-text h3 {
    font-weight: 900;
    z-index: 2;
    font-size: 25px;
    text-decoration: dotted;
    overflow: hidden;
}


/*-----------------------Game-----------------------*/


.why-1 {
    height: 200px;
    width: 300px;
    background-color: var(--lightgreen);
    box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
    border-radius: 10px;
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 5px;
}

.why-2 {
    height: 200px;
    width: 300px;
    background-color: var(--lightgreen);
    box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
    border-radius: 10px;
    position: absolute;
    left: 1500px;
    margin-top: 20px;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 5px;
}

.why-3 {
    height: 200px;
    width: 300px;
    background-color: var(--lightgreen);
    box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
    border-radius: 10px;
    position: absolute;
    margin-left: 100px;
    top: 1800px;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 5px;
}

.why-4 {
    height: 200px;
    width: 300px;
    background-color: var(--lightgreen);
    box-shadow: 8px 12px 6px rgba(36, 36, 36, 0.6);
    border-radius: 10px;
    position: absolute;
    left: 1500px;
    top: 1800px;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 5px;
}

.game-frame {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/*-----------------------Footer-----------------------*/

.footer #tree {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: linear-gradient(147deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.footer #world {
    font-size: 45px;
    margin-right: 600px;
    margin-top: -200px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: linear-gradient(147deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.footer h1 {
    background: linear-gradient(147deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.social {
    position: absolute;
    top: 2755px;
    right: 880px;
    height: 150px;
    width: 150px;
}

.cprg p {
    font-size: 20px;
    background: linear-gradient(180deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


.socials {
    position: absolute;
    z-index: 999999999;
    top: 2670px;
    right: 580px;
    height: 300px;
    width: 850px;
}

.socials .soc-1 {
    position: absolute;
    top: 90px;
    left: 230px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.socials .soc-2 {
    position: absolute;
    top: 90px;
    left: 680px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.socials .soc-1 a, .socials .soc-2 a {
    overflow-y: hidden;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

 i {
    transform: scale(.9);
    color: var(--lightgreen);
} 



/*Scroll*/

.scroll-down {
    height: 80px;
    width: 80px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 99999;
    top: 69%;
    left: 22%;
    transform: translate(-50%,-50%);
    animation: scroll infinite 2s linear;
}


.scroll-down img {
    height: 50px;
    width: 40px;
    display: grid;
    place-content: center;
    color: #fff;
    filter: invert(100%);
    margin: auto;
}

/*Scroll2*/

.scroll-down-2 {
    height: 80px;
    width: 80px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    overflow-y: visible;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 99999;
    top: 205%;
    left: 48%;
    transform: translate(-50%,-50%);
    animation: scroll infinite 2s linear;
}


#img-2 {
    height: 50px;
    width: 40px;
    display: grid;
    place-content: center;
    color: #fff;
    filter: invert(100%);
    margin: auto;
}



/*github*/
.github-pf {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.github-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999999999;
    height: 300px;
    width: 500px;
    background: rgb(3, 82, 13);
    border-radius: 10px;
}

.github-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: var(--lightgreen);
    font-size: 30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.profiles {
    background-color: var(--lightgreen);
    height: 200px;
    border-radius: 10px;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.kevin {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--verydarkgreen);
    box-shadow: outset 5px 10px 208px #000;
}

.luan {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--verydarkgreen);
    margin-left: 20px;
}
#kev {
    position: absolute;
    top: 130px;
    right: 53px;
    z-index: 1;
    width: 100px;
    text-align: center;
    box-shadow: outset 5px 10px 208px #fff;
}

#kevimg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 15px;
    border: 3px solid black;
    box-shadow: 5px 10px 208px #fff;
    transition: .5s;
}

#kevimg:hover {
    transform: scale(1.1) translateY(-5px);
}

#lu {
    position: absolute;
    top: 130px;
    left: 55px;
    right: 50px;
    z-index: 1;
    width: 100px;
    text-align: center;
    box-shadow: outset 5px 10px 208px #fff;
}

.names {
    display: flex;
}

.names h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#github-header {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 110px;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
}





/*extra*/
.gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: visible;
    transform: translate(-50%, -50%);
    z-index: 1;
    min-height: 125vh;
    width: 100%;
    background: linear-gradient( transparent, transparent,  var(--normgreen));
}

.mobile-game {
    display: none;
    position: absolute;
    top: 950px;
    left: 45px;
    background-color: var(--verydarkgreen);
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}


.active {
    padding-top: 5px;
    text-decoration: underline;
    color: #58b852;
}

mark {
    background-color: #000;
    color: #fff;
    padding: 3px;
    height: 2px;
    margin-top: 50px;
    border-radius: 3px;
}

.left-img{
    float: right;
    z-index: 2;
    margin-right: 40px;
    height: 600px;
    width: 600px;
    margin-top: 130px;  
}





/*-----------------------MEDIA QUERIES-----------------------*/

@media only screen and (max-width: 600px) {

    /*-----------------------Header-----------------------*/


    .header {
        min-height: 100vh;
    }
    
    .donatenow {
        display: none;
    }


    /*Nav*/
    .nav {
        width: 200px;
    }

    .nav-ul {
        display: flex;
        color: rgb(214, 12, 12);
        top: 40px;
        left: 80px;
        width: 350px;
    }
    
    .nav-ul a {
        font-weight: 500;
        padding-left: 7px;
        font-weight: 520;
        padding-right: 15px;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .nav img {
        margin-top: 38px;
        margin-left: 10px;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        float: left;
        cursor: pointer;
    }


    /*Überschrift*/
    .header-h1 {
        font-size: 50px;
        top: 100px;
        text-align: center;
        left: 50px;
        font-family: 'Bungee Shade', cursive;
    }


    /*Karte*/
    .head-card {
        position: absolute;
        filter: blur(3px);
        margin-top: 370px;
        width: 440px;
        padding-top: 50px;
        margin-left: 25px;
        margin-right: 200px;
        border-radius: 20px;
        left: 0;
    }

    .head-card-text {
        padding-top: 50px;
        overflow: hidden;
        position: absolute;
        text-shadow: 2px 2px 5px black;
        color: #fff;
        padding: 25px;
        line-height: 1.6;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 390px;
        margin-left:15px;
        left: 0;
        width: 450px;
        font-weight: 700;
    }

    .head-card-text h3 {
        font-weight: 900;
        font-size: 25px;
        text-decoration: dotted;
        overflow: hidden;
        border-radius: 5px;
    }

    /*-----------------------Game-----------------------*/


.game {
    height: 130vh;
}

.why-1 {
    display: grid;
    position: absolute;
    top: 1100px
}

.why-2 {
    display: grid;
    position: absolute;
    z-index: 10;
    top: 1350px;
    left: 100px;
    right: 0;
}

.why-3 {
    display: grid;
    position: absolute;
    z-index: 10;
    top: 1650px;
    left: 0px;
    right: 0;
}

.why-4 {
    display: grid;
    position: absolute;
    z-index: 10;
    top: 1900px;
    left: 100px;
    right: 0;
}

.game-frame {
    display: none;
    transform: translate(-50%,-50%);
}




/*-----------------------Footer-----------------------*/

    .footer #tree {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 25px;
        background: linear-gradient(147deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    
    .footer #world {
        font-size: 28px;
        line-height: 30px;
        margin-right: 0px;
        margin-top: -172px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        height: 200px;
        width: 40px;
        background: linear-gradient(147deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    
    .footer h1 {
        background: linear-gradient(147deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
        font-size: 40px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }

    .social {
        position: absolute;
        z-index: 999999999;
        top: 2770px;
        right: 190px;
        height: 100px;
        width: 100px;
    }

    .socials {
        position: absolute;
        z-index: 999999999;
        top: 2670px;
        right: 100px;
        height: 500px;
        width: 350px;
        padding-right: 5px;
    }

    .socials .soc-1 {
        position: absolute;
        top: 90px;
        left: 90px;
        display: flex;
        flex-direction: column;
    }

    .socials .soc-2 {
        position: absolute;
        top: 90px;
        left: 245px;
        display: flex;
        flex-direction: column;
    }

    .socials .soc-1 a {
        overflow-y: hidden;
        height: 40px;
        width: 60px;
        color: var(--lightgreen);
    }

    .socials .soc-2 a {
        overflow-y: hidden;
        height: 40px;
        width: 60px;
        color: var(--lightgreen);
    }
    
    .cprg p {
        font-size: 20px;
        background: linear-gradient(180deg, var(--lightgreen) 0%, var(--verydarkgreen) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }




    

    /*Scroll*/

.scroll-down {
    height: 80px;
    width: 80px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    top: 90%;
    left: 40%;
    transform: translate(-50%,-50%);
    animation: scroll infinite 2s linear;
}

.scroll-down img {
    height: 50px;
    width: 40px;
    display: grid;
    place-content: center;
    color: #fff;
    filter: invert(100%);
    margin: auto;
}

.scroll-down-2 {
    display: none;
}





/*github*/
.github-pf {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.github-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999999999;
    height: 250px;
    width: 400px;
    background: rgb(3, 82, 13);
    border-radius: 10px;
}

.github-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--lightgreen);
    font-size: 30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.profiles {
    background-color: var(--lightgreen);
    height: 200px;
    border-radius: 10px;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.kevin {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--verydarkgreen);
    box-shadow: outset 5px 10px 208px #000;
}

.luan {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--verydarkgreen);
    margin-left: 20px;
}
#kev {
    position: absolute;
    top: 130px;
    right: 53px;
    z-index: 1;
    width: 100px;
    text-align: center;
    box-shadow: outset 5px 10px 208px #fff;
}

#kevimg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 15px;
    border: 3px solid black;
    box-shadow: 5px 10px 208px #fff;
}

#lu {
    position: absolute;
    top: 130px;
    left: 55px;
    right: 50px;
    z-index: 1;
    width: 100px;
    text-align: center;
    box-shadow: outset 5px 10px 208px #fff;
}

.names {
    display: flex;
}

.names h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#github-header {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 110px;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
}







    /*Extra*/
    .left-img{
        position: absolute;
        top: 100px;
        left: 150px;
        height: 200px;
        width: 200px;
        border: 5px solid rgb(0, 212, 46);
        border-radius: 50%;
    }

    .gradient {
        min-height: 100vh;
    }
  }



/*-----------------------ANIMATIONS-----------------------*/


@keyframes scroll {
    0%   {transform: translateY(-5px);}
    50% {transform: translateY(5px);}
    100%   {transform: translateY(-5px);}
}
