body{
    color:  black;
    background-image: url("Solid\ Dark\ Forest\ Green.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: left;
}


p {
    font-size: large;
}